<%- include('../templates/admin-header') %>

<div id="dashboard">
    <div class="d-flex">
        <div class="sidebar">
            <div class="logo d-flex justify-content-center align-items-center gap-2 mt-4">
                <img src="/assets/images/logo-dark.png" alt="logo">
                <h4 class="m-0">Admin Panel</h4>
            </div>
            <div class="menu mt-5 ms-3">
                <label>Menu</label>
                <ul class="list-unstyled mt-3">
                    <li class="list-unstyled-item">
                        <a href="#" class="nav-link d-flex align-items-center gap-1">
                            <i class='bx bxs-dashboard'></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="list-unstyled-item">
                        <a href="#" class="nav-link d-flex align-items-center gap-1">
                            
                            <span>Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="container">
                
            </div>
        </div>
    </div>
</div>

<%- include('../templates/admin-footer') %>
