<%- include('../templates/admin-header') %>

<div id="dashboard">
    <div class="d-flex">
        <%- include('../templates/admin-sidebar')%>
        <div class="content">
            <div class="container pb-5">
                <div class="page-title mt-5">
                    <h1>HOME PAGE</h1>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-md-6 mb-4">
                        <label class="mb-2">Developer Name</label>
                        <input type="text" name="developer-name" id="developer-name" class="form-control" placeholder="Write Here...">
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                        <label class="mb-2">Title</label>
                        <input type="text" name="developer-title" id="developer-title" class="form-control" placeholder="Write Here...">
                    </div>
                    <div class="col-12 col-md-12 mb-4">
                        <label class="mb-2">Short Description</label>
                        <textarea name="preview-about" id="preview-about" cols="30" rows="10" class="form-control" placeholder="Write here..."></textarea>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                        <label class="mb-2">Upload Developer Image</label>
                        <div class="upload-photo">
                            <div class="image-icon-upload">
                                <i class='bx bxs-file-image'></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                        <label class="mb-2">Upload Logo</label>
                        <div class="upload-photo">
                            <div class="image-icon-upload">
                                <i class='bx bxs-file-image'></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end mt-5">
                        <button class="btn btn-primary p-2">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../templates/admin-footer') %>
